body,html{background-color:#dff0f0;margin:0px}
body{width:70%;padding-left:15%;padding-right:15%;padding-bottom:5%;font-family:Arial;}
body,input,select,label,h4{font-size:1vw}
h2{font-size:3vw;text-align: center;font-family:Calibri;}
h3{font-size:1.5vw}

/* Aspecto para elementos de la cabecera */
#logo{width:100%;}
#logoDiv{position: fixed;top: 2%;left: 2%;width:10%;}
#tituloA, #tituloT{font-size:2.5vw;}

/* Aspecto para elementos del formulario */
form{background-color:#ffd15e;padding:2%;font-size:1.5vw}
input[type=checkbox]{width:5%;zoom:1.5}
input[type=radio]{width:5%;zoom:1.5}
fieldset {padding-top: 0em;padding-bottom: 1em;padding-left: 0.75em;padding-right: 0.75em;}
legend{font-weight: bold;}
#corregir{display:block;margin-left: auto;margin-right: auto;font-size:1.5vw;}


/* Aspecto para el DIV que contiene instrucciones */
#instruccionsDiv{background-color: #ebebe0;position: fixed;top: 2.5%;left: 2.5%;height: 95%;width: 95%;display: none;z-index: 20;border-radius: 25px;border-style: outset;text-align: center;vertical-align: middle;font-size:2.5vw;}
.texto{display: table-cell;vertical-align: middle;}
#instruccions,#iniciar{font-size:2vw;}


/* Aspecto para el DIV que contiene resultados */
#resultatsDiv{background-color: #808080;position: fixed;top: 2.5%;left: 2.5%;height: 95%;width: 95%;padding-top: 2%;padding-bottom: 2%;display: none;z-index: 20;border-radius: 25px;border-style: outset;filter: opacity(95%);text-align: center;vertical-align: middle;font-size: 1vw;}
#nota{font-size:2vw;font-weight: bold;}
#repetir{font-size:2vw;}


