body,html{background-color:#dff0f0;margin:0px;font-size:5vw;}
body{width:96%;padding-left:2%;padding-right:2%;padding-bottom:2%;font-family:Arial;}
body,input,select,label{font-size:3vw;}
h2{font-size:7vw;text-align: center;font-family:Calibri;}
h3{font-size:5vw;}

/* Aspecto para elementos de la cabecera */
#logo{width:100%;margin-left: auto;margin-right: auto;padding-top: 1em;}
#logoDiv{width:30%;margin-left: auto;margin-right: auto;}
#tituloA, #tituloT{font-size:6vw;}

/* Aspecto para elementos del formulario */
form{background-color:#ffd15e;padding:2%;font-size:5vw;}
input[type=checkbox]{width:10%;zoom:1.5;}
input[type=radio]{width:10%;zoom:1.5;}
input[type=text]{width:75%;zoom:1.5;}
select{width:75%;zoom:1.5;}
fieldset {padding-top: 0em;padding-bottom: 1em;padding-left: 0.75em;padding-right: 0.75em;}
legend{font-weight: bold;}
#corregir{display:block;margin-left: auto;margin-right: auto;font-size:5vw;}

/* Aspecto para el DIV que contiene instrucciones */
#instruccionsDiv{background-color: #ebebe0;position: fixed;top: 2.5%;left: 2.5%;height: 95%;width: 95%;display: none;z-index: 20;border-radius: 25px;border-style: outset;text-align: center;vertical-align: middle;font-size:4vmin;}
.texto{display: table-cell;vertical-align: middle;}
#instruccions,#iniciar{font-size:3vmin;}

/* Aspecto para el DIV que contiene resultados */
#resultatsDiv{background-color: #808080;position: fixed;top: 2.5%;left: 2.5%;height: 95%;width: 95%;padding-top: 2%;padding-bottom: 2%;display: none;z-index: 20;border-radius: 25px;border-style: outset;filter: opacity(95%);text-align: center;vertical-align: middle;font-size: 2vh;}
#nota{font-size:5vh;font-weight: bold;}
#repetir{font-size:5vh;}